// base styles ------------------------

* {
  box-sizing: border-box;
  text-align: left;
}
body {
  color: $color-text-base;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $bodyBG-color;
}

h1 {
  font-size: 24px;
  color: $color-text-dark;
  line-height: 1.2;
  margin-bottom: 5%;
}

h2 {
  font-size: 21px;
  color: $color-text-base;
  line-height: 1.0;
}

p {
  font-size: 18px;
  color: $color-text-dark;
  word-spacing: 0.3em;
}

ul {
  text-align: center;
  & li {
    list-style-type: none;
    list-style-position: inside;
  }
}
