h1 {
  font-size: 24px;
  color: $color-text-dark;
  line-height: 1.2;
  margin-bottom: 5%;
}

h2 {
  font-size: 21px;
  color: $color-text-base;
  line-height: 1.0;
}

p {
  font-size: 18px;
  color: $color-text-dark;
}
