
html {
  scroll-behavior: smooth;
}
* {
  margin: 40px 50px 40px 50px;
}
#top h1 {
  color: $color-text-light;
  line-height: 1.3;

}

.main-title {
  color: $color-text-base;
  font-size: 8em;
}

a {
    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $color-text-active;
    }

    &:visited {
      color: $color-text-visited;
    }

    &:clicked {
      color: $link-clicked;
    }
}

#top img {
  height: 15em;
  width: 15em;
}

.primary-content {

}

.wildlife {
  margin: 40px 30px 40px 30px;
}

.callout {
  text-align: center;
}
